@tailwind base;
@tailwind components;
@tailwind utilities;

.login-background {
  background: linear-gradient(to bottom, #004699, #0075FF);
  background-size: cover;
  background-position: center;

  background-position: center top fixed;
  height: 43vh;
  border-bottom-left-radius: 6em;
  border-bottom-right-radius: 6em;
}

.custom-login-hr {
  border: none;
  border-top: 2px solid #0075FF;
  color: #333;
  overflow: visible;
  text-align: center;
  position: relative;


}

.custom-login-hr::after {
  background: #ffffff;
  content: '\00a0 OR \00a0';
  position: relative;
  top: -12px;
}

.home-background-how-it-works {
    background-image: url('/homepage/images/blob.svg');
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: center;
}

.dark {
  --color-bkg: #1a202c;
  --color-bkg-light: #2d3748;
  --color-bkg-lighter: #4a5568;
  --color-bkg-lightest: #718096;
}

:root[theme="dark"] {
  --color-bkg: #1a202c;
  --color-bkg-light: #2d3748;
  --color-bkg-lighter: #4a5568;
  --color-bkg-lightest: #718096;
}