@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'flowbite';

/* Where is this used */
.login-background {
  background: linear-gradient(to bottom, var(--primary-theme-db), var(--primary-theme-lb));
  background-size: cover;
  background-position: center;

  background-position: center top fixed;
  height: 43vh;
  border-bottom-left-radius: 6em;
  border-bottom-right-radius: 6em;
}

/*FOR LOGIN REGISTER RESETPASS*/
.outline_btn {
  @apply border border-white rounded-md py-2 px-10 hover:bg-white hover:text-primary-theme-lb;
}

.highlight_btn {
  @apply bg-white rounded-md text-primary-theme-lb py-2 px-10;
}

.input_text {
  @apply w-full rounded-md py-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-primary-theme-lb focus:ring-2 focus:ring-inset sm:leading-3 px-2
}

.login_background {
  background: linear-gradient(to bottom, var(--primary-theme-db), var(--primary-theme-lb));
  background-size: cover;
  background-position: center;

  background-position: center top fixed;
  height: 50vh;
  border-bottom-left-radius: 6em;
  border-bottom-right-radius: 6em;
}

.custom-login-hr {
  border: none;
  border-top: 2px solid var(--primary-theme-db);
  color: #333;
  overflow: visible;
  text-align: center;
  position: relative;
}

.custom-login-hr::after {
  background: #ffffff;
  content: '\00a0 OR \00a0';
  position: relative;
  top: -12px;
}

.home-background-how-it-works {
  background-image: url('/homepage/images/blob.svg');
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-position: center;
}

@layer base {
  :root[class="dark"] {
    --primary-theme-lb: #0075FF;
    --primary-theme-db: #0f1945;
    /* #2236fd for new color? 0f1945  0b0f21*/
    --primary-bkg: #0f1945;
    --primary-txt: #ffffff;
    --secondary-bkg: #0b0f21;
    /*fix thisr*/
    --secondary-txt: #000000;
    --color-bkg-lighter: #000000;
    --color-bkg-lightest: #718096;
    --color-content: #1c1f1c;
  }

  :root[class="light"] {
    --primary-theme-lb: #0075FF;
    --primary-theme-db: #004699;
    --primary-bkg: #ffffff;
    --primary-txt: #000000;
    --secondary-bkg: #ffffff;
    --secondary-txt: #ffffff;
    /* --color-bkg-light: #dbe9fd;
    --color-content: #ffffff;
    --color-text-primary: #000000;
    --color-text-secondary: #ffffff; */
  }

  :root[class="color-blind"] {
    --primary-theme-lb: #63acbe;
    --primary-theme-db: #EE442F;
    /* #601A4A #63acbe EE442F 601A4A*/
    --primary-bkg: #601A4A;
    --primary-txt: #ffffff;
    --secondary-bkg: #0b0f21;
    /*fix thisr*/
    --secondary-txt: #000000;
    --color-bkg-lighter: #000000;
    --color-bkg-lightest: #718096;
    --color-content: #1c1f1c;
  }
}

/* .login_background {
  background: linear-gradient(to bottom, #0f1945, var(--primary-theme-lb));
  background-size: cover;
  background-position: center;

  background-position: center top fixed;
  height: 50vh;
  border-bottom-left-radius: 6em;
  border-bottom-right-radius: 6em;
} */

body {
  @apply bg-[color:var(--primary-bkg)];
}

.option_menu {
  @apply flex rounded-xl justify-between items-center border-b p-4 gap-10 hover:bg-gray-200 transition duration-300 ease-in-out
}

.blue_background {
  @apply bg-gradient-to-t from-blue-700 to-blue-600 bg-cover bg-center bg-fixed bg-top h-[50vh] rounded-bl-[6em] rounded-br-[6em]
}