body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: white; /* Light background for better contrast */
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  background-color: rgb(36,99,235);
  padding: 5px 10px;
  padding-top: 70px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.header h1 {
  margin: 0;
  margin-right: 20px;
  flex-grow: 1; /* Ensure the heading grows to take available space */
}

.project-title {
  padding-left: 10px;
}

.content {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  height: 100%;
  width: 100%;
  color: black;
}

.course-list {
  width: 30%;
  border-right: 1px solid #ddd;
  overflow-y: auto;
}

.input-search {
  flex-grow: 2;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  color: black;
}

.add-course-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  background-color: rgb(36,99,235);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 100%;
  box-sizing: border-box;
}

.add-course-button:hover {
  background-color: #0056b3;
}

.course-list table {
  width: 100%;
  border-collapse: collapse;
  font-size: 100%;
  box-sizing: border-box;
}

.course-list th, .course-list td, .course-list tr {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
}

.course-list th {
  background-color: #f4f4f4;
}

.course-item .description {
  flex-grow: 2;
  box-sizing: border-box;
}

.course-item span {
  flex-grow: 1;
}

.action-button {
  background: none;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  padding: 5px;
}

.action-button:hover {
  color: rgb(36,99,235);
}

.icon {
  font-size: 1.2em;
}

.analysis {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-wrap: wrap; /* Add flex-wrap to allow side-by-side display */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 100%;
  box-sizing: border-box;
  border-left: 1px solid #ddd;
}

.analysis .normal-details {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-wrap: wrap; /* Add flex-wrap to allow side-by-side display */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 100%;
  box-sizing: border-box;
  border-left: 1px solid #ddd;
}

.analysis h2 {
  margin-top: 0;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .course-list {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #ddd;
  }

  .add-course-button, .course-item {
    font-size: 14px;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .header h1 {
    font-size: 18px;
  }

  .header input {
    font-size: 14px;
  }

  .header .profile-button, .header .previous-button {
    padding: 5px;
  }

  .add-course-button, .course-item {
    padding: 8px;
  }
}

.course-item.selected {
  background-color: #cff0f6; /* Highlight selected course */
}

.course-details-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.course-details {
  flex: 1;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  max-width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.analysis-button {
  margin-top: 10px; /* Adjust as needed */
  padding: 8px 16px;
  background-color: rgb(36,99,235);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.analysis-button:hover {
  background-color: #0056b3;
}